/* Sert à mettre en lien nos sous-dossiers afin de compiler) */
@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/reset"; /* le reset toujours en premier */
@import "base/grid";

/*le dossier vendor sert à ajouter les css des librairies externes*/
//exemple : @import "vendor/bxslider";


@import "layout/common"; /* le common toujours en premier */
@import "layout/header";
@import "layout/footer";


/* Cours hyper utile https://openclassrooms.com/fr/courses/6106181-simplifiez-vous-le-css-avec-sass */
/* 

html,
body,
div,
ul,
head,
main,
article,
footer,
h1,
h2 {
    margin: 0;
    padding: 0;
}

html{
    background-color: #f2f2f2;
    display: inline-block;
}

body{
    height: 4174px;
    width: 1440px;
}

section{
    display: inline-block;
}

article{
    display: inline-block;
    float: left;

}

div{
    float: left;
}

.container{
    position: absolute;
    top: -50px;
    left: 50px;
} */