/* Içi on va "parametrer" toutes les variables en commençant par le $ (obligatoire en sass).
On les range par section et on met un petit commentaire comme "titre" ainsi, on s'y retrouve easy! */

// Fonts
$font-body: 'Fraunces', Serif;

/* Dimensions

$width-header: 1440px;
$height-header: 4174px; */

// Positions
$position-abs: absolute;