*{margin: 0;padding: 0;box-sizing: border-box;}

header {
    background: url(./sass/img/orange.png) center/cover;
    height: 800px;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #F2F2F2;
}
h1,
h2,
h3 {
    font-family: 'Fraunces', serif;
}
h1.title-article{
    font-size: 40px;
    font-weight: 900;
    color:#24303E;
}
h2.testi{
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 5px;
    color: #A7AAAD;
    margin-bottom: 90px;
}
h3.name{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #24303E;
    margin-top: 60px;
}
h3.five-six{
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #24554A;
}
nav.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50px;
}
figure{
    margin-left: 50px;
}
ul#header{
    margin-right: 80px;
}
p.title-p{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin: 50px 0;
}
p.message{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.128571px;
    color: #5B636D;
    margin: 40px 20px;
}
p.role{
    font-family: 'Barlow', sans-serif;
    letter-spacing: -0.1px;
    color:#A7AAAD;
    font-size: 14px;
    margin: 8px;
}
p.five-six{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.114286px;
    color: #3E7467;
    margin: 30px 0;
}
div.arrow-to-bottom{
    width: 6px;
    height: 90px;
    position: relative;
    top: 240px;
    left: 50%;
    background-color: #fff;
}
div.yellow{
    width: 125px;
    height: 9px;
    background: #FAD400;
    opacity: 0.25;
    mix-blend-mode: normal;
    border-radius: 28px;
    margin-left: 3px;
    margin-top: -6px;
}

div.red{
    width: 125px;
    height: 9px;
    background: #FE7766;
    opacity: 0.25;
    mix-blend-mode: normal;
    border-radius: 28px;
    margin-left: 3px;
    margin-top: -6px;
}

nav{
    display: flex;
    justify-content: space-around;
}
a.navbar {
    text-decoration: none;
    color: #fff;
}
a.navbar:hover{
    text-decoration: none;
    color: #000; 
    border-radius: 18px;
    background-color: #fff;    
    padding: 8px 10px;    
}
li{
    display: inline-block;
}
li.nav {
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;    
    margin-left: 50px;
}
li.foot{
    display: inline-block;
    margin: 30px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
}
li.social{
    display: inline-block;
    margin: 50px 10px 0;
}
.container-testimonials{
    width:1100px;
    display: flex;
    justify-content: space-between;
}
.creative {
    position: relative;
    top: 130px;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 69px;
    text-align: center;
    letter-spacing: 8.75px;
    text-transform: uppercase;
    color: #FFFFFF;
}
article{
    display: flex;
}
.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,600px);
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas:
      "one two"
      "three four"
      "five six";
}
section{
    background-color: #FFFCF8;
}  
.one { grid-area: one; 
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
  
.two { grid-area: two; }
  
.three { grid-area: three; }
  
.four { grid-area: four; 
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}  
.five { grid-area: five; 
    background: url(./sass/img/cherry.png) center/cover;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: flex-end;
}  
.six { grid-area: six; 
    background: url(./sass/img/mandarine.png) center/cover;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: flex-end;
}
div.sub{
    width: 445px;
    height: 285px;
  }
  div.sub2{
    width: 339px;
    height: 143px;
    margin: 50px;
}
.container2 {  display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 777px 443px;
    justify-content: center;
    align-content: center;
    grid-template-areas:
      "seven seven seven seven"
      "eight nine ten eleven";
    align-items: center; 
    background-color: #FFFCF8;
}
  
.seven { grid-area: seven; 
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: 'Fraunces', serif;
}  
.eight { grid-area: eight; }
  
.nine { grid-area: nine; }
  
.ten { grid-area: ten; }
  
.eleven { grid-area: eleven; }
  
footer{
    background-color: #90D4C6;
    text-align: center;
    color: #2C7566;
    height: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}
nav.footer{
    margin: 30;
}
i{
    color: #2C7566;
}
i:hover{
    text-decoration: none;
    color: #fff;    
}
a.about {
    text-decoration: none;
    color: #2C7566;
}  
a.about:hover{
    text-decoration: none;
    color: #fff;    
}
a.learn-more1, .learn-more2{
    text-decoration: none;
    color:#24303E;  
    font-family: 'Fraunces', serif;
    font-size: 15px;
    font-weight: 900;
    margin-left: 10px;
}

a.learn-more1:hover div.yellow{
    width: 125px;
    height: 9px;
    background: #FAD400;
    opacity: 1;
    mix-blend-mode: normal;
    border-radius: 28px;
    margin-left: 3px;
    margin-top: -6px;
}

a.learn-more2:hover div.red{
    width: 125px;
    height: 9px;
    background: #FE7766;
    opacity: 1;
    mix-blend-mode: normal;
    border-radius: 28px;
    margin-left: 3px;
    margin-top: -6px;
}  

