html,
body,
div,
ul,
head,
main,
figure,
article,
footer,
h1,
h2 {
    margin: 0;
    padding: 0;
}

header {
    margin: auto;
}
body{
    width: 1440px;
    margin: auto;
}
main{
    width: 1440px;
    margin: auto;
}

h1,
h2,
h3 {
    font-family: 'Fraunces', serif;
}

.image-container {
    position: relative;
}

.container-header {
    position: absolute;
    left: 40px;
    top: 34px;
    text-align: center;
    width: 1440px;   

}

/* header {
    background-image: url(./sass/img/orange.png);
    height: 800px;
    width: 1440px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

} */

nav {
    display: flex;
    justify-content: space-between;    
}

a.navbar {
    text-decoration: none;
    color: #fff;
}
a.navbar:hover{
    border-radius: 18px;
    background-color: #fff;
    text-decoration: none;
    color: #000; 
    padding: 8px 10px;
    
}
ul{
    width: 600px;
    display: flex;
    justify-content: space-around;
}

li {
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;    
    margin-top: 20px;
}

.creative {
    position: absolute;
    top: 195px;
    left: 440px;
    font-weight: 900;
    font-size: 56px;
    color: #fff;
}

.col-left{
    width: 720px;
    height: 600px;
}

article{
    display: flex;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    grid-auto-columns: 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas:
      "one two"
      "three four"
      "five six";
  }
  
  .one { grid-area: one; }
  
  .two { grid-area: two; }
  
  .three { grid-area: three; }
  
  .four { grid-area: four; }
  
  .five { grid-area: five; }
  
  .six { grid-area: six; }

  .container2 {  display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas:
      "seven seven seven seven"
      "eight nine ten eleven";
  }
  
  .seven { grid-area: seven; }
  
  .eight { grid-area: eight; }
  
  .nine { grid-area: nine; }
  
  .ten { grid-area: ten; }
  
  .eleven { grid-area: eleven; }
  
  footer{
      background-color: #90D4C6;
  }

  i{
      color: #2C7566;
  }
