/* Gère le css principale de la page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $color-global;
}

body {
    font-family: $font-global;
    width: $max-width;
    max-width: 100%;
    margin: 0 auto;
    background: white;
}

img {
    max-width: 100%;
    height: auto;
}

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    grid-template-areas:
        "one two"
        "three four"
        "five six";
}

.one {
    grid-area: one;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.five {
    grid-area: five;
    background: url(../img/cherry.png) center/cover;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: flex-end;
}

.six {
    grid-area: six;
    background: url(../img/mandarine.png) center/cover;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: flex-end;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    grid-template-areas:
        "seven seven seven seven"
        "eight nine ten eleven";
    align-items: center;
    background-color: #FFFCF8;
}

.seven {
    grid-area: seven;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: 'Fraunces', serif;
    padding: 160px 0;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.ten {
    grid-area: ten;
}

.eleven {
    grid-area: eleven;
}

/*********** meadia queries ***********/
@media screen and (max-width: 410px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-auto-flow: row;
        justify-content: center;
        align-content: center;
        grid-template-areas:
            "two" 
            "one"
            "three" 
            "four"
            "five" 
            "six";
    } 
    .container2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        justify-content: center;
        align-content: center;
        grid-template-areas:
            "seven seven seven seven"
            "eight nine" 
            "ten eleven";
        align-items: center;
        background-color: #FFFCF8;
    }
   
}