
.nav {
    &__list {
        display: flex;
        justify-content: center;
    }

    &__item {
        font-family: 'Barlow', sans-serif;
        font-size: 18px;
        font-weight: 600;
    }

    &__link {
        text-decoration: none;
        padding: 12px 24px;
        border-radius: 30px;
    }

    //Menu principal
    &--main {
        .nav__item {
            margin-left: 20px;
        }
        .nav__link {
            color: #fff;
    
            &:hover {
                color: #000;
                background-color: #fff;
            }
        }
    }

    //Menu réseaux sociaux
    &--social {
        .nav__link {
            font-size: 14px;
            padding: 12px;
        }
    }
}


@media screen and (max-width: 768px) {
    .nav--main {
        margin-top: 30px;
        .nav__item {
            margin-left: 10px;
        }

        .nav__link {
            padding: 12px;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 560px) {
    .nav--main {
        .nav__item {
            margin-left: 0;
        }
    }
}


