/* Içi on va "parametrer" toutes les variables en commençant par le $ (obligatoire en sass).
On les range par section et on met un petit commentaire comme "titre" ainsi, on s'y retrouve easy! */

// Fonts
$font-global: 'Fraunces', Serif;
$font-bar: 'Barlow', sans-serif;

//Color
$color-global: #F2F2F2;

// Dimensions
$max-width: 1440px;

// Positions
$position-abs: absolute;